In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker

%matplotlib inline

# Analyzing the cleaned census data

In [3]:
df = pd.read_csv('/Users/katialopes-gilbert/data-files/ncis-and-census-data/us-census-data-cleaned.csv')

In [4]:
df.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,4863300.000,741894.000,6931071.000,2988248.000,3.925002e+07,5540545.000,3576452.000,952065.000,...,865454.000,6651194.000,2.786260e+07,3051217.000,624594.000,8411808.000,7288000.000,1831102.000,5778708.000,585501.000
1,"Population estimates base, April 1, 2010, (V2...",NaN,4780131.000,710249.000,6392301.000,2916025.000,3.725452e+07,5029324.000,3574114.000,897936.000,...,814195.000,6346298.000,2.514610e+07,2763888.000,625741.000,8001041.000,6724545.000,1853011.000,5687289.000,563767.000
2,"Population, percent change - April 1, 2010 (es...",NaN,0.017,0.045,0.084,0.025,5.400000e-02,0.102,0.001,0.060,...,0.063,0.048,1.080000e-01,0.104,-0.002,0.051,0.084,-0.012,0.016,0.039
3,"Population, Census, April 1, 2010",NaN,4779736.000,710231.000,6392017.000,2915918.000,3.725396e+07,5029196.000,3574097.000,897934.000,...,814180.000,6346105.000,2.514556e+07,2763885.000,625741.000,8001024.000,6724540.000,1852994.000,5686986.000,563626.000
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,0.060,0.073,0.063,0.064,6.300000e-02,0.061,0.052,0.058,...,0.071,0.061,7.200000e-02,0.083,0.049,0.061,0.062,0.055,0.058,0.065

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            80 non-null     object
 1   Fact Note       0 non-null      float64
 2   Alabama         64 non-null     float64
 3   Alaska          63 non-null     float64
 4   Arizona         64 non-null     float64
 5   Arkansas        64 non-null     float64
 6   California      64 non-null     float64
 7   Colorado        64 non-null     float64
 8   Connecticut     64 non-null     float64
 9   Delaware        64 non-null     float64
 10  Florida         64 non-null     float64
 11  Georgia         64 non-null     float64
 12  Hawaii          63 non-null     float64
 13  Idaho           64 non-null     float64
 14  Illinois        64 non-null     float64
 15  Indiana         64 non-null     float64
 16  Iowa            64 non-null     float64
 17  Kansas          64 non-null     float64
 18  Kentucky        64 non-null     float64
 19  Louisiana       64 non-null     float64
 20  Maine           63 non-null     float64
 21  Maryland        64 non-null     float64
 22  Massachusetts   64 non-null     float64
 23  Michigan        63 non-null     float64
 24  Minnesota       64 non-null     float64
 25  Mississippi     64 non-null     float64
 26  Missouri        64 non-null     float64
 27  Montana         64 non-null     float64
 28  Nebraska        64 non-null     float64
 29  Nevada          64 non-null     float64
 30  New Hampshire   64 non-null     float64
 31  New Jersey      64 non-null     float64
 32  New Mexico      64 non-null     float64
 33  New York        64 non-null     float64
 34  North Carolina  64 non-null     float64
 35  North Dakota    64 non-null     float64
 36  Ohio            64 non-null     float64
 37  Oklahoma        64 non-null     float64
 38  Oregon          64 non-null     float64
 39  Pennsylvania    64 non-null     float64
 40  Rhode Island    64 non-null     float64
 41  South Carolina  64 non-null     float64
 42  South Dakota    64 non-null     float64
 43  Tennessee       64 non-null     float64
 44  Texas           64 non-null     float64
 45  Utah            64 non-null     float64
 46  Vermont         63 non-null     float64
 47  Virginia        64 non-null     float64
 48  Washington      64 non-null     float64
 49  West Virginia   63 non-null     float64
 50  Wisconsin       64 non-null     float64
 51  Wyoming         63 non-null     float64
dtypes: float64(51), object(1)
memory usage: 34.7+ KB

In [8]:
df.tail(22)

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
63,"Land area in square miles, 2010",NaN,50645.33,570640.95,113594.08,52035.48,155779.22,103641.89,4842.36,1948.54,...,75811.0,41234.9,261231.71,82169.62,9216.66,39490.09,66455.52,24038.21,54157.8,97093.14
64,FIPS Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: FIPS Code values are enclosed in quotes ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Value Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Fact Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,(b),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,(c),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Value Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,FN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Data has been cleaned to remove special characters, converted percent symbols into their numerical percentages.

In [9]:
df = pd.read_csv('/Users/katialopes-gilbert/data-files/ncis-and-census-data/us-census-data-transformed.csv')

In [10]:
df.tail(20)

,Fact,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
44,"Total retail sales, 2012 ($1,000)",5.856496e+07,1.047428e+07,8.471654e+07,3.681526e+07,4.818005e+08,6.781520e+07,5.163247e+07,1.445600e+07,2.738671e+08,...,1.379183e+07,9.164160e+07,3.561164e+08,3.802449e+07,9.933751e+06,1.100024e+08,1.189240e+08,2.263792e+07,7.820182e+07,9.446043e+06
45,"Total retail sales per capita, 2012",1.214500e+04,1.432000e+04,1.292700e+04,1.248300e+04,1.266500e+04,1.307300e+04,1.438100e+04,1.576300e+04,1.417700e+04,...,1.655000e+04,1.419400e+04,1.366600e+04,1.331700e+04,1.586800e+04,1.343800e+04,1.724300e+04,1.220100e+04,1.365600e+04,1.638800e+04
46,"Mean travel time to work (minutes), workers ag...",2.440000e+01,1.900000e+01,2.480000e+01,2.160000e+01,2.800000e+01,2.480000e+01,2.540000e+01,2.550000e+01,2.640000e+01,...,1.690000e+01,2.450000e+01,2.560000e+01,2.160000e+01,2.250000e+01,2.790000e+01,2.630000e+01,2.560000e+01,2.190000e+01,1.830000e+01
47,"Median household income (in 2015 dollars), 201...",4.362300e+04,7.251500e+04,5.025500e+04,4.137100e+04,6.181800e+04,6.062900e+04,7.033100e+04,6.050900e+04,4.750700e+04,...,5.095700e+04,4.521900e+04,5.320700e+04,6.072700e+04,5.517600e+04,6.501500e+04,6.106200e+04,4.175100e+04,5.335700e+04,5.884000e+04
48,Per capita income in past 12 months (in 2015 d...,2.409100e+04,3.341300e+04,2.584800e+04,2.279800e+04,3.031800e+04,3.221700e+04,3.880300e+04,3.055400e+04,2.682900e+04,...,2.674700e+04,2.522700e+04,2.699900e+04,2.468600e+04,2.989400e+04,3.415200e+04,3.176200e+04,2.345000e+04,2.834000e+04,2.980300e+04
49,"Persons in poverty, percent",1.710000e-01,9.900000e-02,1.640000e-01,1.720000e-01,1.430000e-01,1.100000e-01,9.800000e-02,1.170000e-01,1.470000e-01,...,1.330000e-01,1.580000e-01,1.560000e-01,1.020000e-01,1.190000e-01,1.100000e-01,1.130000e-01,1.790000e-01,1.180000e-01,1.130000e-01
50,"Total employer establishments, 2015",9.854000e+04,2.090700e+04,1.363520e+05,6.517500e+04,9.081200e+05,1.617370e+05,8.923200e+04,2.485200e+04,5.328300e+05,...,2.651100e+04,1.333440e+05,5.690910e+05,7.546300e+04,2.112100e+04,1.973840e+05,1.829130e+05,3.699300e+04,1.395000e+05,2.104000e+04
51,"Total employment, 2015",1.634391e+06,2.679990e+05,2.295186e+06,1.003113e+06,1.432538e+07,2.253795e+06,1.503102e+06,3.973850e+05,7.777990e+06,...,3.535400e+05,2.507205e+06,1.023971e+07,1.203954e+06,2.663630e+05,3.198718e+06,2.602408e+06,5.654350e+05,2.503532e+06,2.198810e+05
52,"Total annual payroll, 2015 ($1,000)",6.737035e+07,1.564330e+07,1.026714e+08,3.945119e+07,8.569542e+08,1.175396e+08,9.255507e+07,2.130523e+07,3.370745e+08,...,1.381300e+07,1.104813e+08,5.210958e+08,5.145327e+07,1.061509e+07,1.657889e+08,1.492588e+08,2.215908e+07,1.124065e+08,1.009401e+07
53,"Total employment, percent change, 2014-2015",1.900000e-02,4.000000e-03,2.400000e-02,1.100000e-02,3.500000e-02,3.300000e-02,1.200000e-02,1.500000e-02,4.500000e-02,...,1.600000e-02,2.200000e-02,3.200000e-02,4.900000e-02,2.000000e-02,1.200000e-02,2.900000e-02,-1.700000e-02,2.200000e-02,NaN
54,"Total nonemployer establishments, 2015",3.220250e+05,5.552100e+04,4.519510e+05,1.983800e+05,3.206958e+06,4.808470e+05,2.728090e+05,6.073400e+04,2.040339e+06,...,6.400600e+04,4.957030e+05,2.205149e+06,2.162800e+05,6.031200e+04,5.764460e+05,4.441350e+05,8.813600e+04,3.419350e+05,4.814000e+04
55,"All firms, 2012",3.741530e+05,6.803200e+04,4.999260e+05,2.319590e+05,3.548449e+06,5.473520e+05,3.266930e+05,7.341800e+04,2.100187e+06,...,8.131400e+04,5.504530e+05,2.356748e+06,2.514190e+05,7.582700e+04,6.531930e+05,5.415220e+05,1.144350e+05,4.329800e+05,6.242700e+04
56,"Men-owned firms, 2012",2.036040e+05,3.540200e+04,2.452430e+05,1.231580e+05,1.852580e+06,2.845540e+05,1.878450e+05,3.832800e+04,1.084885e+06,...,4.241800e+04,3.022490e+05,1.251696e+06,1.321630e+05,4.127000e+04,3.530120e+05,2.626500e+05,6.311200e+04,2.362520e+05,3.003900e+04
57,"Women-owned firms, 2012",1.376300e+05,2.214100e+04,1.824250e+05,7.596200e+04,1.320085e+06,1.945080e+05,1.066780e+05,2.396400e+04,8.078170e+05,...,2.372200e+04,1.956940e+05,8.666780e+05,7.626900e+04,2.341700e+04,2.362900e+05,1.876770e+05,3.906500e+04,1.338590e+05,1.934400e+04
58,"Minority-owned firms, 2012",9.221900e+04,1.368800e+04,1.353130e+05,3.598200e+04,1.619857e+06,8.584900e+04,5.611300e+04,1.444000e+04,9.261120e+05,...,4.101000e+03,1.052340e+05,1.070392e+06,2.442300e+04,2.354000e+03,1.850430e+05,9.280700e+04,5.777000e+03,4.050700e+04,4.077000e+03
59,"Nonminority-owned firms, 2012",2.726510e+05,5.114700e+04,3.449810e+05,1.890290e+05,1.819107e+06,4.423650e+05,2.596140e+05,5.478200e+04,1.121749e+06,...,7.422800e+04,4.340250e+05,1.224845e+06,2.188260e+05,7.049100e+04,4.501090e+05,4.266970e+05,1.047850e+05,3.799340e+05,5.539700e+04
60,"Veteran-owned firms, 2012",4.194300e+04,7.953000e+03,4.678000e+04,2.591500e+04,2.523770e+05,5.172200e+04,3.105600e+04,7.206000e+03,1.857560e+05,...,8.604000e+03,5.937900e+04,2.135900e+05,1.875400e+04,8.237000e+03,7.643400e+04,4.933100e+04,1.291200e+04,3.983000e+04,6.470000e+03
61,"Nonveteran-owned firms, 2012",3.169840e+05,5.609100e+04,4.275820e+05,1.929880e+05,3.176341e+06,4.695240e+05,2.811820e+05,6.031800e+04,1.846686e+06,...,6.621900e+04,4.693920e+05,2.057218e+06,2.198070e+05,6.331700e+04,5.484390e+05,4.614010e+05,9.496000e+04,3.707550e+05,5.135300e+04
62,"Population per square mile, 2010",9.440000e+01,1.200000e+00,5.630000e+01,5.600000e+01,2.391000e+02,4.850000e+01,7.381000e+02,4.608000e+02,3.506000e+02,...,1.070000e+01,1.539000e+02,9.630000e+01,3.360000e+01,6.790000e+01,2.026000e+02,1.012000e+02,7.710000e+01,1.050000e+02,5.800000e+00
63,"Land area in square miles, 2010",5.064533e+04,5.706409e+05,1.135941e+05,5.203548e+04,1.557792e+05,1.036419e+05,4.842360e+03,1.948540e+03,5.362476e+04,...,7.581100e+04,4.123490e+04,2.612317e+05,8.216962e+04,9.216660e+03,3.949009e+04,6.645552e+04,2.403821e+04,5.415780e+04,9.709314e+04

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 51 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Fact            64 non-null     object
 1   Alabama         64 non-null     float64
 2   Alaska          63 non-null     float64
 3   Arizona         64 non-null     float64
 4   Arkansas        64 non-null     float64
 5   California      64 non-null     float64
 6   Colorado        64 non-null     float64
 7   Connecticut     64 non-null     float64
 8   Delaware        64 non-null     float64
 9   Florida         64 non-null     float64
 10  Georgia         64 non-null     float64
 11  Hawaii          63 non-null     float64
 12  Idaho           64 non-null     float64
 13  Illinois        64 non-null     float64
 14  Indiana         64 non-null     float64
 15  Iowa            64 non-null     float64
 16  Kansas          64 non-null     float64
 17  Kentucky        64 non-null     float64
 18  Louisiana       64 non-null     float64
 19  Maine           63 non-null     float64
 20  Maryland        64 non-null     float64
 21  Massachusetts   64 non-null     float64
 22  Michigan        63 non-null     float64
 23  Minnesota       64 non-null     float64
 24  Mississippi     64 non-null     float64
 25  Missouri        64 non-null     float64
 26  Montana         64 non-null     float64
 27  Nebraska        64 non-null     float64
 28  Nevada          64 non-null     float64
 29  New Hampshire   64 non-null     float64
 30  New Jersey      64 non-null     float64
 31  New Mexico      64 non-null     float64
 32  New York        64 non-null     float64
 33  North Carolina  64 non-null     float64
 34  North Dakota    64 non-null     float64
 35  Ohio            64 non-null     float64
 36  Oklahoma        64 non-null     float64
 37  Oregon          64 non-null     float64
 38  Pennsylvania    64 non-null     float64
 39  Rhode Island    64 non-null     float64
 40  South Carolina  64 non-null     float64
 41  South Dakota    64 non-null     float64
 42  Tennessee       64 non-null     float64
 43  Texas           64 non-null     float64
 44  Utah            64 non-null     float64
 45  Vermont         63 non-null     float64
 46  Virginia        64 non-null     float64
 47  Washington      64 non-null     float64
 48  West Virginia   63 non-null     float64
 49  Wisconsin       64 non-null     float64
 50  Wyoming         63 non-null     float64
dtypes: float64(50), object(1)
memory usage: 25.6+ KB

In [15]:
unique_facts = df['Fact'].unique()

facts_df = pd.DataFrame({'index': range(len(unique_facts)), 'Fact': unique_facts})

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

facts_df.set_index('index', inplace=True)

facts_df

                                                    Fact
index
0           Population estimates, July 1, 2016,  (V2016)
1      Population estimates base, April 1, 2010,  (V2...
2      Population, percent change - April 1, 2010 (es...
3                      Population, Census, April 1, 2010
4      Persons under 5 years, percent, July 1, 2016, ...
5          Persons under 5 years, percent, April 1, 2010
6      Persons under 18 years, percent, July 1, 2016,...
7         Persons under 18 years, percent, April 1, 2010
8      Persons 65 years and over, percent,  July 1, 2...
9      Persons 65 years and over, percent, April 1, 2010
10      Female persons, percent,  July 1, 2016,  (V2016)
11                Female persons, percent, April 1, 2010
12          White alone, percent, July 1, 2016,  (V2016)
13     Black or African American alone, percent, July...
14     American Indian and Alaska Native alone, perce...
15          Asian alone, percent, July 1, 2016,  (V2016)
16     Native Hawaiian and Other Pacific Islander alo...
17     Two or More Races, percent, July 1, 2016,  (V2...
18     Hispanic or Latino, percent, July 1, 2016,  (V...
19     White alone, not Hispanic or Latino, percent, ...
20                                   Veterans, 2011-2015
21              Foreign born persons, percent, 2011-2015
22                Housing units,  July 1, 2016,  (V2016)
23                          Housing units, April 1, 2010
24           Owner-occupied housing unit rate, 2011-2015
25     Median value of owner-occupied housing units, ...
26     Median selected monthly owner costs -with a mo...
27     Median selected monthly owner costs -without a...
28                          Median gross rent, 2011-2015
29                                Building permits, 2016
30                                 Households, 2011-2015
31                      Persons per household, 2011-2015
32     Living in same house 1 year ago, percent of pe...
33     Language other than English spoken at home, pe...
34     High school graduate or higher, percent of per...
35     Bachelor's degree or higher, percent of person...
36     With a disability, under age 65 years, percent...
37     Persons  without health insurance, under age 6...
38     In civilian labor force, total, percent of pop...
39     In civilian labor force, female, percent of po...
40     Total accommodation and food services sales, 2...
41     Total health care and social assistance receip...
42          Total manufacturers shipments, 2012 ($1,000)
43        Total merchant wholesaler sales, 2012 ($1,000)
44                     Total retail sales, 2012 ($1,000)
45                   Total retail sales per capita, 2012
46     Mean travel time to work (minutes), workers ag...
47     Median household income (in 2015 dollars), 201...
48     Per capita income in past 12 months (in 2015 d...
49                           Persons in poverty, percent
50                   Total employer establishments, 2015
51                                Total employment, 2015
52                   Total annual payroll, 2015 ($1,000)
53           Total employment, percent change, 2014-2015
54                Total nonemployer establishments, 2015
55                                       All firms, 2012
56                                 Men-owned firms, 2012
57                               Women-owned firms, 2012
58                            Minority-owned firms, 2012
59                         Nonminority-owned firms, 2012
60                             Veteran-owned firms, 2012
61                          Nonveteran-owned firms, 2012
62                      Population per square mile, 2010
63                       Land area in square miles, 2010

In [16]:
df = pd.read_csv('/Users/katialopes-gilbert/data-files/ncis-and-census-data/us-census-data-transformed.csv')

In [17]:
df.head()

,State,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010","Female persons, percent, July 1, 2016, (V2016)","Female persons, percent, April 1, 2010","White alone, percent, July 1, 2016, (V2016)","Black or African American alone, percent, July 1, 2016, (V2016)","American Indian and Alaska Native alone, percent, July 1, 2016, (V2016)","Asian alone, percent, July 1, 2016, (V2016)","Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016, (V2016)","Two or More Races, percent, July 1, 2016, (V2016)","Hispanic or Latino, percent, July 1, 2016, (V2016)","White alone, not Hispanic or Latino, percent, July 1, 2016, (V2016)","Veterans, 2011-2015","Foreign born persons, percent, 2011-2015","Housing units, July 1, 2016, (V2016)","Housing units, April 1, 2010","Owner-occupied housing unit rate, 2011-2015","Median value of owner-occupied housing units, 2011-2015","Median selected monthly owner costs -with a mortgage, 2011-2015","Median selected monthly owner costs -without a mortgage, 2011-2015","Median gross rent, 2011-2015","Building permits, 2016","Households, 2011-2015","Persons per household, 2011-2015","Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015","Language other than English spoken at home, percent of persons age 5 years+, 2011-2015","High school graduate or higher, percent of persons age 25 years+, 2011-2015","Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015","With a disability, under age 65 years, percent, 2011-2015","Persons without health insurance, under age 65 years, percent","In civilian labor force, total, percent of population age 16 years+, 2011-2015","In civilian labor force, female, percent of population age 16 years+, 2011-2015","Total accommodation and food services sales, 2012 ($1,000)","Total health care and social assistance receipts/revenue, 2012 ($1,000)","Total manufacturers shipments, 2012 ($1,000)","Total merchant wholesaler sales, 2012 ($1,000)","Total retail sales, 2012 ($1,000)","Total retail sales per capita, 2012","Mean travel time to work (minutes), workers age 16 years+, 2011-2015","Median household income (in 2015 dollars), 2011-2015","Per capita income in past 12 months (in 2015 dollars), 2011-2015","Persons in poverty, percent","Total employer establishments, 2015","Total employment, 2015","Total annual payroll, 2015 ($1,000)","Total employment, percent change, 2014-2015","Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,4863300.0,4780131.0,0.017,4779736.0,0.060,0.064,0.226,0.237,0.161,0.138,0.516,0.515,0.693,0.268,0.007,0.014,0.001,0.016,0.042,0.658,363170.0,0.035,2230185.0,2171853.0,0.687,125500.0,1139.0,345.0,717.0,15001.0,1848325.0,2.55,0.853,0.052,0.843,0.235,0.118,0.107,0.580,0.530,7576462.0,26039632.0,124809759.0,57746565.0,58564965.0,12145.0,24.4,43623.0,24091.0,0.171,98540.0,1634391.0,67370353.0,0.019,322025.0,374153.0,203604.0,137630.0,92219.0,272651.0,41943.0,316984.0,94.4,50645.33
1,Alaska,741894.0,710249.0,0.045,710231.0,0.073,0.076,0.252,0.264,0.104,0.077,0.477,0.480,0.661,0.038,0.152,0.063,0.013,0.073,0.070,0.612,69323.0,0.074,310658.0,306967.0,0.634,250000.0,1827.0,554.0,1146.0,1503.0,250969.0,2.81,0.809,0.162,0.921,0.280,0.081,0.155,0.677,0.650,2221335.0,6375483.0,NaN,5216303.0,10474275.0,14320.0,19.0,72515.0,33413.0,0.099,20907.0,267999.0,15643303.0,0.004,55521.0,68032.0,35402.0,22141.0,13688.0,51147.0,7953.0,56091.0,1.2,570640.95
2,Arizona,6931071.0,6392301.0,0.084,6392017.0,0.063,0.071,0.235,0.255,0.169,0.138,0.503,0.503,0.833,0.049,0.054,0.034,0.003,0.028,0.309,0.555,505794.0,0.135,2961003.0,2844526.0,0.628,167500.0,1343.0,380.0,913.0,35578.0,2412212.0,2.69,0.813,0.269,0.860,0.275,0.082,0.119,0.593,0.545,13996635.0,37055881.0,51243473.0,69437272.0,84716542.0,12927.0,24.8,50255.0,25848.0,0.164,136352.0,2295186.0,102671393.0,0.024,451951.0,499926.0,245243.0,182425.0,135313.0,344981.0,46780.0,427582.0,56.3,113594.08
3,Arkansas,2988248.0,2916025.0,0.025,2915918.0,0.064,0.068,0.236,0.244,0.163,0.144,0.509,0.509,0.794,0.157,0.010,0.016,0.003,0.020,0.073,0.729,220953.0,0.047,1354762.0,1316299.0,0.661,111400.0,1019.0,327.0,677.0,9474.0,1138025.0,2.53,0.839,0.072,0.848,0.211,0.123,0.093,0.585,0.533,4307264.0,15792628.0,62712925.0,31256110.0,36815256.0,12483.0,21.6,41371.0,22798.0,0.172,65175.0,1003113.0,39451191.0,0.011,198380.0,231959.0,123158.0,75962.0,35982.0,189029.0,25915.0,192988.0,56.0,52035.48
4,California,39250017.0,37254522.0,0.054,37253956.0,0.063,0.068,0.232,0.250,0.136,0.114,0.503,0.503,0.727,0.065,0.017,0.148,0.005,0.038,0.389,0.377,1777410.0,0.270,14060525.0,13680081.0,0.543,385500.0,2155.0,500.0,1255.0,102350.0,12717801.0,2.96,0.852,0.439,0.818,0.314,0.068,0.083,0.631,0.572,90830372.0,248953592.0,512303164.0,666652186.0,481800461.0,12665.0,28.0,61818.0,30318.0,0.143,908120.0,14325377.0,856954246.0,0.035,3206958.0,3548449.0,1852580.0,1320085.0,1619857.0,1819107.0,252377.0,3176341.0,239.1,155779.22

In [18]:
df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [19]:
df['State'].nunique()

50

In [20]:
df = pd.read_csv('/Users/katialopes-gilbert/data-files/ncis-and-census-data/us-census-data-transformed.csv')

In [21]:
df.head()

,State,"Population estimates, July 1, 2016, (V2016)","Population estimates base, April 1, 2010, (V2016)","Population, percent change - April 1, 2010 (estimates base) to July 1, 2016, (V2016)","Population, Census, April 1, 2010","Persons under 5 years, percent, July 1, 2016, (V2016)","Persons under 5 years, percent, April 1, 2010","Persons under 18 years, percent, July 1, 2016, (V2016)","Persons under 18 years, percent, April 1, 2010","Persons 65 years and over, percent, July 1, 2016, (V2016)","Persons 65 years and over, percent, April 1, 2010","Female persons, percent, July 1, 2016, (V2016)","Female persons, percent, April 1, 2010","White alone, percent, July 1, 2016, (V2016)","Black or African American alone, percent, July 1, 2016, (V2016)","American Indian and Alaska Native alone, percent, July 1, 2016, (V2016)","Asian alone, percent, July 1, 2016, (V2016)","Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016, (V2016)","Two or More Races, percent, July 1, 2016, (V2016)","Hispanic or Latino, percent, July 1, 2016, (V2016)","White alone, not Hispanic or Latino, percent, July 1, 2016, (V2016)","Veterans, 2011-2015","Foreign born persons, percent, 2011-2015","Housing units, July 1, 2016, (V2016)","Housing units, April 1, 2010","Owner-occupied housing unit rate, 2011-2015","Median value of owner-occupied housing units, 2011-2015","Median selected monthly owner costs -with a mortgage, 2011-2015","Median selected monthly owner costs -without a mortgage, 2011-2015","Median gross rent, 2011-2015","Building permits, 2016","Households, 2011-2015","Persons per household, 2011-2015","Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015","Language other than English spoken at home, percent of persons age 5 years+, 2011-2015","High school graduate or higher, percent of persons age 25 years+, 2011-2015","Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015","With a disability, under age 65 years, percent, 2011-2015","Persons without health insurance, under age 65 years, percent","In civilian labor force, total, percent of population age 16 years+, 2011-2015","In civilian labor force, female, percent of population age 16 years+, 2011-2015","Total accommodation and food services sales, 2012 ($1,000)","Total health care and social assistance receipts/revenue, 2012 ($1,000)","Total manufacturers shipments, 2012 ($1,000)","Total merchant wholesaler sales, 2012 ($1,000)","Total retail sales, 2012 ($1,000)","Total retail sales per capita, 2012","Mean travel time to work (minutes), workers age 16 years+, 2011-2015","Median household income (in 2015 dollars), 2011-2015","Per capita income in past 12 months (in 2015 dollars), 2011-2015","Persons in poverty, percent","Total employer establishments, 2015","Total employment, 2015","Total annual payroll, 2015 ($1,000)","Total employment, percent change, 2014-2015","Total nonemployer establishments, 2015","All firms, 2012","Men-owned firms, 2012","Women-owned firms, 2012","Minority-owned firms, 2012","Nonminority-owned firms, 2012","Veteran-owned firms, 2012","Nonveteran-owned firms, 2012","Population per square mile, 2010","Land area in square miles, 2010"
0,Alabama,4863300.0,4780131.0,0.017,4779736.0,0.060,0.064,0.226,0.237,0.161,0.138,0.516,0.515,0.693,0.268,0.007,0.014,0.001,0.016,0.042,0.658,363170.0,0.035,2230185.0,2171853.0,0.687,125500.0,1139.0,345.0,717.0,15001.0,1848325.0,2.55,0.853,0.052,0.843,0.235,0.118,0.107,0.580,0.530,7576462.0,26039632.0,124809759.0,57746565.0,58564965.0,12145.0,24.4,43623.0,24091.0,0.171,98540.0,1634391.0,67370353.0,0.019,322025.0,374153.0,203604.0,137630.0,92219.0,272651.0,41943.0,316984.0,94.4,50645.33
1,Alaska,741894.0,710249.0,0.045,710231.0,0.073,0.076,0.252,0.264,0.104,0.077,0.477,0.480,0.661,0.038,0.152,0.063,0.013,0.073,0.070,0.612,69323.0,0.074,310658.0,306967.0,0.634,250000.0,1827.0,554.0,1146.0,1503.0,250969.0,2.81,0.809,0.162,0.921,0.280,0.081,0.155,0.677,0.650,2221335.0,6375483.0,NaN,5216303.0,10474275.0,14320.0,19.0,72515.0,33413.0,0.099,20907.0,267999.0,15643303.0,0.004,55521.0,68032.0,35402.0,22141.0,13688.0,51147.0,7953.0,56091.0,1.2,570640.95
2,Arizona,6931071.0,6392301.0,0.084,6392017.0,0.063,0.071,0.235,0.255,0.169,0.138,0.503,0.503,0.833,0.049,0.054,0.034,0.003,0.028,0.309,0.555,505794.0,0.135,2961003.0,2844526.0,0.628,167500.0,1343.0,380.0,913.0,35578.0,2412212.0,2.69,0.813,0.269,0.860,0.275,0.082,0.119,0.593,0.545,13996635.0,37055881.0,51243473.0,69437272.0,84716542.0,12927.0,24.8,50255.0,25848.0,0.164,136352.0,2295186.0,102671393.0,0.024,451951.0,499926.0,245243.0,182425.0,135313.0,344981.0,46780.0,427582.0,56.3,113594.08
3,Arkansas,2988248.0,2916025.0,0.025,2915918.0,0.064,0.068,0.236,0.244,0.163,0.144,0.509,0.509,0.794,0.157,0.010,0.016,0.003,0.020,0.073,0.729,220953.0,0.047,1354762.0,1316299.0,0.661,111400.0,1019.0,327.0,677.0,9474.0,1138025.0,2.53,0.839,0.072,0.848,0.211,0.123,0.093,0.585,0.533,4307264.0,15792628.0,62712925.0,31256110.0,36815256.0,12483.0,21.6,41371.0,22798.0,0.172,65175.0,1003113.0,39451191.0,0.011,198380.0,231959.0,123158.0,75962.0,35982.0,189029.0,25915.0,192988.0,56.0,52035.48
4,California,39250017.0,37254522.0,0.054,37253956.0,0.063,0.068,0.232,0.250,0.136,0.114,0.503,0.503,0.727,0.065,0.017,0.148,0.005,0.038,0.389,0.377,1777410.0,0.270,14060525.0,13680081.0,0.543,385500.0,2155.0,500.0,1255.0,102350.0,12717801.0,2.96,0.852,0.439,0.818,0.314,0.068,0.083,0.631,0.572,90830372.0,248953592.0,512303164.0,666652186.0,481800461.0,12665.0,28.0,61818.0,30318.0,0.143,908120.0,14325377.0,856954246.0,0.035,3206958.0,3548449.0,1852580.0,1320085.0,1619857.0,1819107.0,252377.0,3176341.0,239.1,155779.22

# Verify FBI data cleaning

In [22]:
df = pd.read_csv('/Users/katialopes-gilbert/data-files/ncis-and-census-data/gun_data_clean.csv')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   permit                     12461 non-null  float64
 3   permit_recheck             1100 non-null   float64
 4   handgun                    12465 non-null  float64
 5   long_gun                   12466 non-null  float64
 6   other                      5500 non-null   float64
 7   multiple                   12485 non-null  int64
 8   admin                      12462 non-null  float64
 9   prepawn_handgun            10542 non-null  float64
 10  prepawn_long_gun           10540 non-null  float64
 11  prepawn_other              5115 non-null   float64
 12  redemption_handgun         10545 non-null  float64
 13  redemption_long_gun        10544 non-null  float64
 14  redemption_other           5115 non-null   float64
 15  returned_handgun           2200 non-null   float64
 16  returned_long_gun          2145 non-null   float64
 17  returned_other             1815 non-null   float64
 18  rentals_handgun            990 non-null    float64
 19  rentals_long_gun           825 non-null    float64
 20  private_sale_handgun       2750 non-null   float64
 21  private_sale_long_gun      2750 non-null   float64
 22  private_sale_other         2750 non-null   float64
 23  return_to_seller_handgun   2475 non-null   float64
 24  return_to_seller_long_gun  2750 non-null   float64
 25  return_to_seller_other     2255 non-null   float64
 26  totals                     12485 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [24]:
df['month'].dtype

dtype('O')

In [28]:
df = pd.read_csv('/Users/katialopes-gilbert/data-files/ncis-and-census-data/gun_data_clean.csv')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   handgun                    12465 non-null  float64
 3   long_gun                   12466 non-null  float64
 4   other                      5500 non-null   float64
 5   multiple                   12485 non-null  int64
 6   private_sale_handgun       2750 non-null   float64
 7   private_sale_long_gun      2750 non-null   float64
 8   private_sale_other         2750 non-null   float64
 9   return_to_seller_handgun   2475 non-null   float64
 10  return_to_seller_long_gun  2750 non-null   float64
 11  return_to_seller_other     2255 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 1.1+ MB

In [32]:
df = pd.read_csv('/Users/katialopes-gilbert/data-files/ncis-and-census-data/gun_data_clean.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      12485 non-null  object
 1   state                      12485 non-null  object
 2   handgun                    12465 non-null  float64
 3   long_gun                   12466 non-null  float64
 4   other                      5500 non-null   float64
 5   multiple                   12485 non-null  int64
 6   private_sale_handgun       2750 non-null   float64
 7   private_sale_long_gun      2750 non-null   float64
 8   private_sale_other         2750 non-null   float64
 9   return_to_seller_handgun   2475 non-null   float64
 10  return_to_seller_long_gun  2750 non-null   float64
 11  return_to_seller_other     2255 non-null   float64
 12  total_permits              12485 non-null  float64
dtypes: float64(10), int64(1), object(2)
memory usage: 1.2+ MB

In [34]:
df.head()

,month,state,handgun,long_gun,other,multiple,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,total_permits
0,2017-09-01,Alabama,5734.0,6320.0,221.0,317,9.0,16.0,3.0,0.0,0.0,3.0,12623.0
1,2017-09-01,Alaska,2320.0,2930.0,219.0,160,17.0,24.0,1.0,0.0,0.0,0.0,5671.0
2,2017-09-01,Arizona,11063.0,7946.0,920.0,631,38.0,12.0,2.0,0.0,0.0,0.0,20612.0
3,2017-09-01,Arkansas,4347.0,6063.0,165.0,366,13.0,23.0,0.0,0.0,2.0,1.0,10980.0
4,2017-09-01,California,37165.0,24581.0,2984.0,0,0.0,0.0,0.0,0.0,0.0,0.0,64730.0